@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div>
        <label for="inputData">QRコードの値</label><input id="inputData"><button id="setQR">QRコードし直し</button>
    </div>
    <img id="QRImage" src="">

</div>

<script>
const setQrElement = document.getElementById("setQR");
setQrElement.addEventListener("click", setQR, false);

/**
 * QRイメージの設定
 */
function setQR() {
    const data = document.getElementById('inputData').value;
    if (!data) return;

    const rootPath = '/Home/GetQRImage?data=';
    document.getElementById('QRImage').src = rootPath + data;
}

</script>
